<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navig-link" do %>
  <h5>Barra de Cócteles</h5>
  <% end %>
   <%= link_to "Create a new cocktail", "/cocktails/new", class: "home-button btn btn-primary" %>
</div>



<div class="banner">
  <div class="banner-content">
    <h1>Barra de Cócteles</h1>
    <p>Best cocktails in town</p>
  </div>
</div>

<div class="container">
<h1 class='cocktail-header text-center mb-4'>Check out the classics</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <%= link_to cocktail_path(cocktail), class: "card-link" do %>
        <div class="card" style="background: linear-gradient(rgba(0,10,10,0.2) 0%, rgba(10,10,10,0.2) 0%), url(
        '<%= cl_image_path cocktail.photo.key, height: 300, width: 200, crop: :fill if
        cocktail.photo.attached?%>');">
          <div class="cocktail-card-content">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
        <br>
       <% end %>
      </div>
    <% end  %>
  </div>
</div>





