<img src=<%= @cocktail.image_url%>, width="150px" height="250px" >
<h1><%=  @cocktail.name %></h1>


<ul>
  <% @cocktail.doses.each do |dose| %>
  <p>Ingredients</p>
    <li><%= dose.ingredient.name %>
    </li>
    <li><%= dose.description %> <%= link_to "Remove", dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %></li>
  <% end  %>
</ul>

 <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>



<%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>


