<div class=container>

    <%= cl_image_tag @cocktail.photo.key, width: 300, height: 250, crop: :fill %>
    <h1><%=  @cocktail.name %></h1>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h5>Cocktail Recipe</h5>
        <% @cocktail.doses.each do |dose| %>
           <p><%= dose.ingredient.name %> | <%= dose.description %></p>
           <div class="delete-action">
              <%= link_to dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete?" } do %>
                      <i class="far fa-trash-alt"></i>
           <% end  %>
           </div>
        <% end  %>
      </div>
    </div>

    <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

    <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>

</div>



