<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-static-top">
  <%= link_to cocktails_path, class: "navig-link" do %>
  <h5>Barra de Cócteles</h5>
  <% end %>
  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>
</div>

<div class="flexbox">
    <div class="row-show">
      <div class="col-sm-12 col-md-6">
        <h1 class="cocktail-name"><%=  @cocktail.name %></h1>
        <h5 class="recipe-headline">Recipe</h5>
        <% @cocktail.doses.each do |dose| %>
           <div class="ingredient-content d-inline">
             <div class="dose-name d-inline">
              <%= dose.ingredient.name %> | <%= dose.description %>
               <%= link_to dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete?" } do %>
                  <i class="trash-icon far fa-trash-alt d-inline ml-2"></i>
               <% end  %>
             </div>
           </div>
        <% end  %>
        <div class="btn btn-primary mt-3">
        <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="cocktail-photo mt-5 p-5">
      <%= cl_image_tag @cocktail.photo.key, width: 300, height: 450, crop: :fill, radius: 4, class: "mt-3" %>
    </div>
</div>

<div class="container">
  <div class="reviews-container d-flex flex-column m-3">
  <h3>Reviews</h3>
  <% if @cocktail.reviews.empty? %>
  <p>Be the first to leave a review</p>
  <% else %>
    <ul class="list-group d-flex">
      <% @cocktail.reviews.each do |review| %>
        <li class="list-group-item d-flex flex-row justify-center mt-1 py-3">
           <%= review.content %>
            <% review.rating.times do %>
               <i class="fas fa-star"></i>
            <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

  <div class='review-form-container justify-left'>
    <%= render "reviews/new", cocktail: @cocktail, review: @review %>
  </div>

</div>




