<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-static-top">
  <%= link_to cocktails_path, class: "navig-link" do %>
  <h5>Barra de Cócteles</h5>
  <% end %>
  <%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>
</div>

  <div class="container mt-3">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, placeholder: 'select'%>
      <%= f.input :description %>
      <%= f.button :submit, class: "form-button btn btn-primary" %>
    <% end %>

  </div>


